
#footer-content {
     left: 0;
     bottom: 0;
     height: 100px;
    width: 100%;
    background: #3b8bc4;
    color: white;
     text-align: center;
}

#card_account {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     max-width: 300px;
     margin: auto;
     text-align: center;
     font-family: arial;
}
body {
     padding-bottom: 0px !important;
}

.badge{
    margin-left: 3px;
}
